@model HorsesPOC.Models.Domain.Horse

@{
    ViewData["Title"] = "Horse Details";
}

<h2>Horse Details</h2>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Age</dt>
    <dd class="col-sm-9">@Model.Age</dd>

    <dt class="col-sm-3">Weight</dt>
    <dd class="col-sm-9">@Model.Weight</dd>

    <dt class="col-sm-3">Height</dt>
    <dd class="col-sm-9">@Model.Height</dd>

    <dt class="col-sm-3">Birth Date</dt>
    <dd class="col-sm-9">@Model.BirthDate.ToShortDateString()</dd>

    <dt class="col-sm-3">Gender</dt>
    <dd class="col-sm-9">@Model.Gender</dd>

    <dt class="col-sm-3">Vaccine</dt>
    <dd class="col-sm-9">@Model.Vaccine</dd>

    <dt class="col-sm-3">Category</dt>
    <dd class="col-sm-9">@Model.Category</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">@Model.StatusAndCondition</dd>

    <dt class="col-sm-3">Ride Time</dt>
    <dd class="col-sm-9">@Model.RideTimeStart?.ToString("hh\\:mm") - @Model.RideTimeEnd?.ToString("hh\\:mm")</dd>

    <dt class="col-sm-3">Stable</dt>
    <dd class="col-sm-9">@Model.Stable?.Name</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
